dll-api-builder/services/dll-services/assets/soap/MobileClientAuthorization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://schemas.delagelanden.com/mobileauth/1.0/" name="AuthenticationService" targetNamespace="http://schemas.delagelanden.com/mobileauth/1.0/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://schemas.delagelanden.com/mobileauth/1.0/" schemaLocation="MobileClientAuthorization.xsd"/>
			<xsd:import namespace="http://schemas.delagelanden.com/mobileauth/1.0/" schemaLocation="MobileClientAuthorizationData.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IAuthenticationService_Authenticate_InputMessage">
		<wsdl:part name="parameters" element="tns:Authenticate"/>
	</wsdl:message>
	<wsdl:message name="IAuthenticationService_Authenticate_OutputMessage">
		<wsdl:part name="parameters" element="tns:AuthenticateResponse"/>
	</wsdl:message>
	<wsdl:message name="IAuthenticationService_ValidateToken_InputMessage">
		<wsdl:part name="parameters" element="tns:ValidateToken"/>
	</wsdl:message>
	<wsdl:message name="IAuthenticationService_ValidateToken_OutputMessage">
		<wsdl:part name="parameters" element="tns:ValidateTokenResponse"/>
	</wsdl:message>
	<wsdl:portType name="IAuthenticationService">
		<wsdl:operation name="MCAAuthenticate">
			<wsdl:input message="tns:IAuthenticationService_Authenticate_InputMessage"/>
			<wsdl:output message="tns:IAuthenticationService_Authenticate_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="MCAValidateToken">
			<wsdl:input message="tns:IAuthenticationService_ValidateToken_InputMessage"/>
			<wsdl:output message="tns:IAuthenticationService_ValidateToken_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WSHttpBinding_IAuthenticationService" type="tns:IAuthenticationService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MCAAuthenticate">
			<soap:operation soapAction="http://schemas.delagelanden.com/mobileauth/1.0/IAuthenticationService/Authenticate" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MCAValidateToken">
			<soap:operation soapAction="http://schemas.delagelanden.com/mobileauth/1.0/IAuthenticationService/ValidateToken" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AuthenticationService">
		<wsdl:port name="WSHttpBinding_IAuthenticationService" binding="tns:WSHttpBinding_IAuthenticationService">
			<soap:address location=""/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
